@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&display=swap');


:root {
    --font-family: 'Kumbh Sans', sans-serif;
    --text-color: hsl(240, 6%, 50%);
    --text-size: 13px;
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --white: #fff;
    --black: #000;
    --dark-grayish-blue: hsl(240, 6%, 70%);
    --soft-red: hsl(14, 88%, 65%);
   
}

body {
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--text-size);
    max-width: 1500px;
    margin: 0 auto;
    display: block;
    min-height: 80vh;
    overflow: hidden;
}
main {
    margin-top: 10px;
}
.container {
    width: 260px;
    margin: 150px auto 96px;
    background-color: var(--white);
    border: none;  
    border-radius: 16px;
    box-shadow: 0 10px 20px #5f06b7;
    padding: 40px;
}
.illustration-container {
    position: relative;
    height: 34px;
}
.platform-img {
    position: absolute;
    left: 15px;
    bottom: 0px;
}
.woman-img {
    position: absolute;
    left: -10px;
    bottom: 10px;
}

.question-container {
    overflow-y: hidden;
    max-width: 350px;
    padding: 5px 0;
}

.questions {
    overflow-y: auto;
}

/* scrollbar settings */
.questions::-webkit-scrollbar {
    display: none;
}

.questions {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 250px;
}
/* scrollbar settings--end */

h1 {
    margin: 32px auto;
    text-align: center;
    font-size: 32px;
    color: var(--black);
}
.question-title {
    position: relative;
    cursor: pointer;
}
.question-title > p {
    display: block;
    text-decoration: none;
    color: var(--text-color)
}

.fw400 {
    font-weight: 400
}

.fw800 {
    font-weight: 800
}

.question-title > p:hover {
    color: var(--soft-red);
}
/* 
.question-title > a:focus {
    color: black;
    font-weight: 800;
}   */

.question-expanded-style {
    font-weight: 800;
}

hr {
    border-style: none;
    background-color: lightgrey;
    height: 0.5px;
}
.question-btn{
    position: absolute;
    top: 0;
    right: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
}
.question-text {
    display: none;
    line-height: 1.2;
    margin-bottom: 20.8px;
}
.question-text p{
    color: var(--dark-grayish-blue);
}
.show-text {
    display: block;
};

.show-text .question-title::after {
    transform: rotate(180deg);
}
@media screen and (min-width:768px) {
    .container {
        width: 300px;
        margin: 150px auto 96px;
        /* margin: 150px 10px; */
        background-color: var(--white);
        border: none;
        border-radius: 16px;
        box-shadow: 0 10px 20px #5f06b7;
        padding: 45px;
    }
}


@media screen and (min-width:1000px) {
    h1 {
      text-align: left;
    }
    
    main::before {
      content: url("images/illustration-box-desktop.svg");
      position: absolute;
      left: 10%;
      top:40%;
      z-index: 2;
    }
  
    .container {
      width: 58%;
      margin: 7.5% auto 7%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      position: relative;
      overflow: hidden;
    }
  
    .illustration-container {
      flex-basis: 50%;
      position: relative;
    }
  
    .woman-img {
      top: 0.5rem;
      width: 25rem;
      transform: translate(-30%);
    }
  
    .platform-img {
      top: -5px;

      width: 32rem;
      transform: translate(-50%, -10%);
    }
    
    .question-container{
      flex-basis: 50%;
    }
  }




